MODEL_PATH=models/weather_pipeline.pkl
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

KEYCLOAK_REALM=inference

INFERENCE_CLIENT_ID=inference-client
INFERENCE_CLIENT_SECRET=change_me

PRIVILEGED_CLIENT_ID=privileged-client
PRIVILEGED_CLIENT_SECRET=change_me

UNPRIVILEGED_CLIENT_ID=unprivileged-client
UNPRIVILEGED_CLIENT_SECRET=change_me